<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Add Book</title>
  <style>
    /* CSS styles here */
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    .container {
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f2f2f2;
    }

    .content {
      width: 100%;
      max-width: 600px;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }

    h1 {
      text-align: center;
      margin-top: 0;
      margin-bottom: 20px;
      color: #333;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    label {
      margin-bottom: 10px;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    textarea {
      resize: vertical;
      height: 100px;
    }

    button {
      background-color: #428bca;
      color: #fff;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #336699;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="content">
      <h1>Add Book</h1>
      <form method="post" action="/add_book">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="author">Authors(Separated by comma):</label>
        <input type="text" id="author" name="authors" required>

        <label for="publisher">Publisher:</label>
        <input type="text" id="publisher" name="publisher" required>

        <label for="isbn">ISBN:</label>
        <input type="text" id="isbn" name="isbn" required>

        <label for="summary">Summary:</label>
        <textarea id="summary" name="summary" required></textarea>

        <label for="pages">Number of Pages:</label>
        <input type="text" id="pages" name="pages" required>

        <label for="copies">Available Copies:</label>
        <input type="text" id="copies" name="copies" required>

        <label for="image">Image URL:</label>
        <input type="text" id="image" name="image" required>

        <label for="category">Thematic Categories(Separated by comma):</label>
        <input type="text" id="category" name="categories" required>

        <label for="language">Language:</label>
        <input type="text" id="language" name="language" required>

        <label for="keywords">Keywords:</label>
        <input type="text" id="keywords" name="keywords" required>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
