<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Books per School</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }
    
    .container {
      max-width: 800px;
      margin: 50px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    
    h1 {
      text-align: center;
      margin-top: 0;
    }
    
    table {
      width: 100%;
      border-collapse: collapse;
    }
    
    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    
    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Books per School</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Authors</th>
      </tr>
      <% results.forEach((list_title_authors,_) => { %>
      <tr>
        <td><%= list_title_authors.title %></td>
        <td><%= list_title_authors.authors %></td>
      </tr>
      <% }) %>
    </table>
  </div>
</body>
</html>
