<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Book Form</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
    }
    .menubar {
      background-color: #333;
      padding: 10px;
      display: flex; /* Added flex display */
      justify-content: flex-start; /* Adjusted alignment */
    }
    
    .menubar button {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 16px;
      margin-right: 10px;
      cursor: pointer;
    }
    
    .container-wrapper {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    
    .container {
      flex-basis: calc(50% - 40px);
      max-width: 500px;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      margin-right: 20px;
    }
    
    h1 {
      text-align: center;
      margin-top: 0;
    }
    
    form {
      display: grid;
      grid-gap: 10px;
    }
    
    label {
      font-weight: bold;
    }
    .button-container {
      margin-top: 20px;
    }
    
    .button-container button {
      padding: 10px 20px;
      background-color: brown;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;

    }
    
    input[type="text"],
    input[type="number"] {
      width: 100%;
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }
    
    button {
      background-color: brown;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
      width: 100%;
    }
    
    button:hover {
      background-color: brown;
    }
    .menubar button:hover {
      text-decoration: underline;
    }
    .dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content button:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

  </style>
  <script>
   function submitBookForm() {
        var form = document.getElementById("bookForm");
        var title = form.title.value 
        var category = form.category.value 
        var author = form.author.value 
        var copies = form.copies.value === "" ? null : (isNaN(form.copies.value) ? null : parseInt(form.copies.value));

        window.location.href = `/books_per_school?title=${title}&category=${category}&author=${author}&copies=${copies}`;
}

  </script>
  <script>
    function submitStudentForm() {
      var studentForm = document.getElementById("studentForm");
      var firstName = studentForm.firstName.value;
      var lastName = studentForm.lastName.value;
      var overdueDays = studentForm.overdueDays.value === "" ? null : parseInt(studentForm.overdueDays.value);
  
      window.location.href = `/late_returns?firstname=${firstName}&lastname=${lastName}&overdueDays=${overdueDays}`;
    }
  </script>
  <script>
     function submitReviewForm() {
      var thirdForm = document.getElementById("thirdForm");
      var studentName = thirdForm.studentName.value;
      var category = thirdForm.category.value;

      window.location.href = `/average_rating?studentName=${studentName}&category=${category}`;
    }
  </script>
</head>
<body>
  <div class="menubar">
    <button onclick="location.href='/school_books';">View all the books of the school</button>
    <button onclick="location.href='/add_book';">Add a new book</button>
    <button onclick="location.href='/operator_password';">Change password</button>
    <div class="dropdown">
        <button class="dropbtn">Borrowings</button>
        <div class="dropdown-content">
            <button onclick="location.href='/active_borrowings';">Active Borrowings</button>
            <button onclick="location.href='/old_borrowings';">Old Borrowings</button>
            <button onclick="location.href='/add_borrowing';">Add New Borrowing</button>
        </div>
    </div>
    <button onclick="location.href='/reservations';">Reservations</button>
    <div class="dropdown">
      <button class="dropbtn">Reviews</button>
      <div class="dropdown-content">
          <button onclick="location.href='/published_reviews';">Published Reviews</button>
          <button onclick="location.href='/notapproved_reviews';">Not yet approved reviews</button>
          <button onclick="location.href='/denied_reviews';">Denied reviews</button>
      </div>
    </div>
    <button onclick="location.href='/all_users';">View all the school library members</button>
    <button onclick="location.href='/new_member_applications';">View applications for new library members</button>
    <button onclick="location.href='/member_login';">Logout</button>
</div>

  <div class="container-wrapper">
    <div class="container">
      <h1>Ερώτηση 3.2.1</h1>
      <p>Βρείτε όλα τα βιβλία κατά Τίτλο, Συγγραφέα (Κριτήρια αναζήτησης: τίτλος/κατηγορία/συγγραφέας/αντίτυπα)</p>
      <form id="bookForm" action="/books_per_school" method="get">
        <label for="title">Τίτλος:</label>
        <input type="text" id="title" name="title">

        <label for="category">Κατηγορία:</label>
        <select id="category" name="category">
          <option value="">-- Επιλέξτε κατηγορία --</option>
          <option value="Mystery">Mystery</option>
          <option value="Romance">Romance</option>
          <option value="Science Fiction">Science Fiction</option>
          <option value="Fantasy">Fantasy</option>
          <option value="Thriller">Thriller</option>
          <option value="Horror">Horror</option>
          <option value="Biography">Biography</option>
          <option value="Self-Help">Self-Help</option>
          <option value="Crime">Crime</option>
          <option value="Adventure">Adventure</option>
          <option value="Comedy">Comedy</option>
          <option value="Drama">Drama</option>
          <option value="Poetry">Poetry</option>
          <option value="Action">Action</option>
          <option value="Graphic Novel">Graphic Novel</option>
        </select>

        <label for="author">Συγγραφέας:</label>
        <input type="text" id="author" name="author">

        <label for="copies">Διαθέσιμα Αντίτυπα:</label>
        <input type="number" id="copies" name="copies" min="0">

        
        <button type="button" onclick="submitBookForm()">Check</button>
        
      </form>
    </div>
    
    <div class="container">
      <h1>Ερώτηση 3.2.2</h1>
      <p>Βρείτε όλους τους δανειζόμενους που έχουν στην κατοχή τους τουλάχιστον ένα βιβλίο και 
        έχουν καθυστερήσει την επιστροφή του. (Κριτήρια αναζήτησης: Όνομα, Επώνυμο, Ημέρες 
        Καθυστέρησης)</p>
      <form id="studentForm" action="/late_returns" method="get">
        <label for="firstName">Όνομα:</label>
        <input type="text" id="firstName" name="firstName">

        <label for="lastName">Επώνυμο:</label>
        <input type="text" id="lastName" name="lastName">

        <label for="overdueDays">Ημέρες Καθυστέρησης:</label>
        <input type="number" id="overdueDays" name="overdueDays" min="0">

        <button type="button" onclick="submitStudentForm()">Check</button>
        <button type="button" onclick="location.href = '/all_the_overdue_borrowers';">Find all</button>
      </form>
    </div>
    <div class="container">
        <h1>Ερώτηση 3.2.3</h1>
        <p>Μέσος Όρος Αξιολογήσεων ανά δανειζόμενο και κατηγορία (Κριτήρια αναζήτησης: 
        χρήστης/ κατηγορία) </p>
        <form id="thirdForm" action="/average_rating" method="get">
          <label for="studentName">Ονοματεπώνυμο μαθητή:</label>
          <input type="text" id="studentName" name="studentName">
      
          <label for="category">Κατηγορία:</label>
          <select id="category" name="category">
            <option value="">-- Επιλέξτε κατηγορία --</option>
            <option value="Mystery">Mystery</option>
            <option value="Romance">Romance</option>
            <option value="Science Fiction">Science Fiction</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Thriller">Thriller</option>
            <option value="Horror">Horror</option>
            <option value="Biography">Biography</option>
            <option value="Self-Help">Self-Help</option>
            <option value="Crime">Crime</option>
            <option value="Adventure">Adventure</option>
            <option value="Comedy">Comedy</option>
            <option value="Drama">Drama</option>
            <option value="Poetry">Poetry</option>
            <option value="Action">Action</option>
            <option value="Graphic Novel">Graphic Novel</option>
          </select>
      
          <button type="button" onclick="submitReviewForm()">Check</button>
        </form>
      </div>
      
  </div>
</body>
</html>
